.Front {
    background-color:#CEAB93;
    font-family: 'Poppins', sans-serif;
    color: rgb(103, 95, 95);
}

.Front header {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}

.Front nav ul {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Front ul li {
    width: 33.3333%;
}

.Front ul li a {
    display: block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.Front .card p {
    text-align: center;
    line-height: 2em;
    font-size: 20px;
}

.Front .card p a {
    background-color: #96715a;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    color: rgb(233, 232, 232);
}

.Front .card {
    background-color:#AD8B73;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.Front h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    text-align: center;
    color: rgb(233, 232, 232);
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.post {
    background-color: #EAE0DA;
    font-family: 'Merriweather', serif;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post header p {
    text-align: left;
    line-height: 2em;
}

.post h1 {
    font-family: 'Amaranth', sans-serif;
}

.post h2 {
    font-family: 'Amaranth', sans-serif;
}

.post header {
    text-align: center;
}

.post nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.post nav ul li {
    width: 33.3333%;
}

.post nav ul li a {
    display: block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.post section .card {
    background-color: #F7F5EB;
    margin: 30px;
    margin-bottom: 0;
    padding: 30px;
    padding-top: 10px;
}

.post section .card h4 {
    text-align: center;
}

.post article p {
    line-height: 2em;
}

.post footer {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

}

@media only screen and (min-width: 600px) {
    .Front section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px 0;
    }

    .Front header {
        text-align: center;
        font-size: 30px;
        margin: 60px;
    }

    .Front nav ul {
        display: flex;
        justify-content: flex-end;
    }
    
    .Front ul li {
        width: auto;
        padding-right: 30px;
        font-size: 25px;
    }
    
    .post .work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        padding: 10px 0;
        align-items: center;
    }
}

@media only screen and (min-width: 700px) {
    .Front header h1 {
        font-size: 70px;
    }

    .post {
        padding: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .post .work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 0;
        align-items: center;
    }
}

@media only screen and (min-width: 1000px) {

    .Front nav ul {
        font-size: 30px;
        display: flex;
        justify-content: flex-end;
    }
    
    .Front ul li {
        width: auto;
        padding-right: 70px;
    }

    .Front section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 0;
    }

    .Front .card {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .post {
        padding: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .post .work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 0;
        align-items: center;
    }

    .post .card h4 {
        font-size: 30px;
    }
}